<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>
	
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/tooplate.css">
</head>

<body id="login">
    <div class="container">
        <div class="row tm-register-row tm-mb-30">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-l">
                <form th:action="@{/login}" th:object="${user}" method="post" class="tm-bg-black p-5 h-100">
                	<small  class="text-danger" th:text="${errorMessage}"></small>
                    <div class="input-field">
                        <input placeholder="Username" th:field="*{tenDangNhap}" id="tenDangNhap" name="tenDangNhap" class="form-control" type="text">
                        <small class="text-danger" th:errors="*{tenDangNhap}"></small>
                    </div>
                    <div class="input-field mb-5">
                        <input placeholder="Password" class="form-control" th:field="*{matKhau}" id="matKhau" name="matKhau" type="password">
                        <small class="text-danger" th:errors="*{matKhau}"></small>
                    </div>
                    <div class="itm-flex-lr ml-3">
                    	<input class="form-check-input" style="opacity: 1;" type="checkbox"
											   id="remember" name="remember" value="true"> 
						<label class="form-check-label" for="remember">Ghi nhớ đăng nhập</label>
                    </div>
                    <div class="tm-flex-lr">
                        <a th:href="@{/forgot-password}" class="white-text small">Quên mật khẩu?</a>
                        <button type="submit" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0">Login</button>
                    </div>
                    
                </form>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 tm-login-r">
                <header class="font-weight-light tm-bg-black p-5 h-100">
                    <img src="images/R.jpg" alt="" style="width: 100%; height: 100%;">
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ml-auto mr-0 text-center">
                <a href="user/register" class="waves-effect btn-large btn-large-white px-4 black-text rounded-0 mb-4">Tạo tài khoản mới</a>
            </div>
        </div>
        
    </div>

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>