<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="footer">
		<footer class="ftco-footer ftco-section img" style=" height: 350px;">
			<div class="overlay"></div>
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-5">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">Appetizer</h2>
							<p>Far far away, behind the word mountains, far from the
								countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="ftco-footer-social list-unstyled mt-5">
								<li class="ftco-animate"><a href="#"><span
										class="icon-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#"><span
										class="icon-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#"><span
										class="icon-instagram"></span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<div class="ftco-footer-widget mb-4 ml-md-5">
							<h2 class="ftco-heading-2">Information</h2>
							<ul class="list-unstyled">
								<li><a href="#" class="py-2 d-block">Dịch vụ</a></li>
								<li><a href="#" class="py-2 d-block">Sản phẩm</a></li>
								<li><a href="#" class="py-2 d-block">Đăng nhập</a></li>
								<li><a href="#" class="py-2 d-block">Đăng ký</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="ftco-footer-widget mb-4">
							<img src="/images/logo-da-thong-bao-bo-cong-thuong.png" style="width: 100%; height: 100%;" alt="">
							<img src="/images/20150827110756-dadangky.png" style="width: 100%; height: 100%;" alt="">

						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>	

</body>
</html>